.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #17a99d; // A nice green background color
  font-family: "Arial", sans-serif;
  color: white;
}

.logo {
  img {
    height: 100px;
  }
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding: 8px 16px;
  transition: background-color 0.3s;

  &:hover {
    background-color: rgb(0, 116, 112);
  }
}
