<!-- signup.component.html -->
<form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="name">Name:</label>
    <input id="name" formControlName="name" />
    @if(signupForm.get('name')?.invalid && signupForm.get('name')?.touched){
    <div class="error_text">Name is required.</div>
    }
  </div>

  <div>
    <label for="email">Email:</label>
    <input id="email" formControlName="email" />
    @if(signupForm.get('email')?.invalid && signupForm.get('email')?.touched){
    <div class="error_text">Enter a valid email.</div>
    }
  </div>

  <div>
    <label for="message">Message:</label>
    <textarea id="message" formControlName="message"></textarea>
  </div>

  <button type="submit">Submit</button>
</form>

@if(successMessage){
<div class="success_message">
  <span class="success_message_txt">{{ successMessage }}</span>
</div>
}
